$color1_r: 	14;
$color1_g: 	18;
$color1_b: 	72;
$color2_r: 	181;
$color2_g: 	162;
$color2_b: 	130;

body {
	margin: 0;
	padding: 0;
}

.page {
	position: absolute;
	width: 100%;
	height: 100%;
	
	background: url('/static/img/wallpaper.jpg');
	background-size: cover;
	background-position: center;

	font-size: 16px;
	font-family: "Comic Sans MS";
}

.page_block {
	background: rgba($color1_r, $color1_g, $color1_b, 0.5);
	backdrop-filter: blur(20px);
	color: white;
}

.standart_page {
	display: flex;
	width: 100%;
	height: 100%;

	nav {
		display: inline-block;
		height: 100%;
		
		.nav_buttons {
			width: 200px;
			
			.nav_button {
				cursor: pointer;
				padding: 10px;
				color: white;
				text-align: center;
				border-left: 3px solid transparent;

				transition: all 0.3s ease-out;
				
				&.active {
					border-left-color: rgba($color2_r, $color2_g, $color2_b, 0.2);
				}
				&:hover {
					background: rgba($color2_r, $color2_g, $color2_b, 0.05);
					border-left-color: rgba($color2_r, $color2_g, $color2_b, 0.2);
				}
			}
		}
	}

	main {
		width: 100%;
		overflow: auto;

		header {
			font-size: 1.5rem;
			text-align: center;
			padding: 10px;
		}

		article {
			padding: 10px;
		}
	}
}

#last_days_page {
	.note {
		border-radius: 10px;
		padding: 10px;
		cursor: pointer;

		display: grid;
		grid-template-columns: 150px 1fr;

		&:not(:last-child) {
			margin-bottom: 10px;
		}

		& > * {
			color: white;
		}

		.text-preview {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}

#set_day_page {
	.form {
		text-align: center;
	}

	.input {
		color: white;
		display: block;
		width: 100%;
		outline: none;
		border: none;
		border-radius: 5px;
		padding: 5px;
		margin-bottom: 10px;
		box-sizing: border-box;
		overflow: hidden;

		font-size: 20px;
		font-family: "Comic Sans MS";

		&.wrong {
			border: solid 3px red;
		}

		&.good {
			border: solid 3px #00FF0B;
		}
	}

	textarea.input {
		overflow: auto;
		height: 400px;
		resize: none;
	}

	.buttons {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-around;
		align-items: center;
	}
}

$calendar-delta: 15px;
$calendar-block-size: 80px;
$calendar-font-size: 2.5rem;
#calendar {
	article { text-align: center; }

	.week {
		margin: auto;
		display: inline-block;

		&:not(:last-child) {
			margin-bottom: $calendar-delta;
		}

		.day {

			font-size: $calendar-font-size;
			width: $calendar-block-size;
			height: $calendar-block-size;

			display: inline-flex;
			justify-content: space-around;
			align-items: center;

			border: solid 3px transparent;
			cursor: pointer;

			transition: all 0.3s ease-out;

			&:not(:last-child) {
				margin-right: $calendar-delta;
			}

			&:hover {
				border-color: rgba($color2_r, $color2_g, $color2_b, 0.75);
			}

			&.other_month {
				color: grey;

				&:hover {

					border-color: rgba($color2_r, $color2_g, $color2_b, 0.2);
				}
			}
		}
	}
}

.button {
	display: inline-block;
	cursor: pointer;
	border-radius: 5px;
	padding: 5px;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}

	&:focus,
	&:active {
		text-decoration: none;
	}

	&.submit-btn {
		background: #ff0000;
		color: #000000;
		
		&:hover {
			background: lighten(#ff0000, 10%);
		}

		&:focus,
		&:active {
			background: darken(#ff0000, 10%);
		}
	}

	&.update-btn {
		background: #ffff00;
		color: #000000;
		
		&:hover {
			background: lighten(#ffff00, 10%);
		}

		&:focus,
		&:active {
			background: darken(#ffff00, 10%);
		}
	}
}

.beautiful_scrollbar {
	&::-webkit-scrollbar {
		background: transparent;
		width: 4px;
		border: none;
		outline: none;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 5px;
		background: transparent;
	}

	&:hover::-webkit-scrollbar-thumb {
		background: rgb($color1_r, $color1_g, $color1_b);
	}
}