body {
  margin: 0;
  padding: 0; }

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--wallpaper);
  background-size: cover;
  background-position: center;
  font-size: 16px;
  font-family: "Comic Sans MS"; }

.page_block {
  background: rgba(var(--color1_r), var(--color1_g), var(--color1_b), 0.5);
  backdrop-filter: blur(20px);
  color: white; }

.standart_page {
  display: flex;
  width: 100%;
  height: 100%; }
  .standart_page nav {
    display: inline-block;
    height: 100%; }
    .standart_page nav .nav_buttons {
      width: 200px; }
      .standart_page nav .nav_buttons .nav_button {
        cursor: pointer;
        padding: 10px;
        color: white;
        text-align: center;
        border-left: 3px solid transparent;
        transition: all 0.3s ease-out; }
        .standart_page nav .nav_buttons .nav_button.active {
          border-left-color: rgba(var(--color2_r), var(--color2_g), var(--color2_b), 0.2); }
        .standart_page nav .nav_buttons .nav_button:hover {
          background: rgba(var(--color2_r), var(--color2_g), var(--color2_b), 0.05);
          border-left-color: rgba(var(--color2_r), var(--color2_g), var(--color2_b), 0.2); }
  .standart_page main {
    width: 100%;
    height: 100%;
    overflow: auto;
    display: grid;
    grid-template-rows: 60px 1fr; }
    .standart_page main header {
      font-size: 1.5rem;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: space-evenly; }
    .standart_page main article {
      padding: 10px;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      overflow: auto; }

#last_days_page .note {
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  display: grid;
  grid-template-columns: 150px 1fr; }
  #last_days_page .note:not(:last-child) {
    margin-bottom: 10px; }
  #last_days_page .note > * {
    color: white; }
  #last_days_page .note .text-preview {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }

#set_day_page .form {
  text-align: center;
  width: 100%;
  height: 100%; }
#set_day_page textarea.input {
  display: block;
  width: 100%;
  height: 100%;
  overflow: auto;
  resize: none;
  color: white;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box; }
#set_day_page .buttons {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center; }

#calendar article {
  display: grid;
  grid-template-columns: 50px 1fr 50px; }
  #calendar article .calendar_part {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly; }
  #calendar article .btn-part img.cal-btn {
    width: 100%;
    cursor: pointer; }
#calendar .calendar {
  text-align: center; }
  #calendar .calendar .week {
    margin: auto;
    display: inline-block; }
    #calendar .calendar .week:not(:last-child) {
      margin-bottom: 15px; }
    #calendar .calendar .week .day {
      font-size: 2.5rem;
      width: 80px;
      height: 80px;
      display: inline-flex;
      justify-content: space-around;
      align-items: center;
      border: solid 3px transparent;
      cursor: pointer;
      transition: all 0.3s ease-out; }
      #calendar .calendar .week .day:not(:last-child) {
        margin-right: 15px; }
      #calendar .calendar .week .day:hover {
        border-color: rgba(var(--color2_r), var(--color2_g), var(--color2_b), 0.75); }
      #calendar .calendar .week .day.other_month {
        color: grey;
        background: rgba(var(--color1_r), var(--color1_g), var(--color1_b), 0.25); }
        #calendar .calendar .week .day.other_month:hover {
          border-color: rgba(var(--color2_r), var(--color2_g), var(--color2_b), 0.2); }

.button {
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
  text-decoration: none; }
  .button:hover {
    text-decoration: underline; }
  .button:focus, .button:active {
    text-decoration: none; }
  .button.submit-btn {
    background: #ff0000;
    color: #000000; }
    .button.submit-btn:hover {
      background: #ff3333; }
    .button.submit-btn:focus, .button.submit-btn:active {
      background: #cc0000; }
  .button.update-btn {
    background: #ffff00;
    color: #000000; }
    .button.update-btn:hover {
      background: #ffff33; }
    .button.update-btn:focus, .button.update-btn:active {
      background: #cccc00; }

.beautiful_scrollbar::-webkit-scrollbar {
  background: transparent;
  width: 4px;
  border: none;
  outline: none; }
.beautiful_scrollbar::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: transparent; }
.beautiful_scrollbar:hover::-webkit-scrollbar-thumb {
  background: rgb(var(--color1_r), var(--color1_g), var(--color1_b)); }

/*# sourceMappingURL=base.css.map */
